/* Use the font-family property when the font is web-safe or the @import by using the font-family property. The @import font always goes at the very top of the file if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&display=swap');

#content {
    max-width: 1600px; /*Setting the width of a whole page. Applying a max-width instead of just width to your whole page to keep it from stretching across the whole browser window on larger monitors*/ 
    margin: 0 auto; /*Centering the Whole page. The <div> we set the width on, is a block element, which means we will need to use a margin to center it.*/
}

header {
    display: grid; /*the display: grid; declaration to the header selector.*/
    grid-template-columns: 150px auto; /*Set up the grid-template-columns giving the two column values of 150px and auto. This gives 150px to the logo and the rest of available space to the navigation.*/
    background-color: #fef4ec;
}

nav a {
    text-align: center;
    color: #264653;
    text-decoration: none;
    padding: 35px;
}

.logo {
    width: 100%;
    height: 100px;
    
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
/*We could do another nested grid for the nav links, but let's try flex-box instead.*/
nav {
    display: flex;
    justify-content: space-around;
}

body {
    background-color: #fef4ec; /*The background-color property will set the background color of an element. Right now, the background colors default to transparent or whatever the background color of the parent element is.*/
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    font-size: 22px; /*Increasing the default font size for the whole page with a font-size of 22px for the body*/
    margin: 0; /*Get rid of some browser default margin and padding styles from our page. Because by default, the browser will give the body a little margin, but we want to have the page go right to the edge. Setting properties to zero, to begin with, is sometimes called 'reset'.*/
    padding: 0; /*Same above.*/
}

footer {
    background-color: #2a9d8f;
    color: #efd595;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex; /*Footer Layout. Let's use flex-box for our footer as well. With display: flex, justify-content: space-around, and align-items: center:*/
    justify-content: space-around;
    align-items: center
}
footer a {
    color: #efd595; /*Override the first rule?*/
    text-decoration: none; /*Take off the default underline of links*/
}
footer p {
    color: #fef4ec;
    font-size: 1.3em;
    text-align: center;
    margin-top: 10px;
}
footer .social img {
    padding-top: 15px;
    height: 60px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
footer .get_in_touch {
    padding-top: 15px;
    
}
footer .get_in_touch h4 {
    color: black;
    margin-top: 30px;
    text-align: center;
}
footer .form img {
    padding-top: 15px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
footer .site_plan img {
    padding-top: 15px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;           
}

/*Parent container*/
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /*Ten equal, fractions, columns*/
}
main section {
    text-align: center;
}
#background {          /*Targeting the new div with the id of background and give it a declaration of height: 725px*/
    height: 725px;
    background-color: #efd595;
    grid-column: 1/11;
    grid-row: 4/9;
}
.distraught_man {
    width: 100%; /*When images are large, they make the columns very large as well. Let's make sure that the each images with the classes card-img and mountains have a width of 100%. As they get placed in the grid, they will take up 100% of the space they are given. */ 
    grid-column: 5/10;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #264653; /*Enhancements*/
    height: auto; /*Responsivenes in the img. Width 100% and height to auto.*/
}
.msg {
    background-color: #2a9d8f;
    line-height: 1.5em; /* a little more line height*/
    padding: 35px; /*Adding padding to space out the content on your page from any edges or borders where it is needed*/
    grid-column: 2/7;
    grid-row: 6/7;
    box-shadow: 10px 10px 20px #264653; /*Enhancements*/
}
.msg h2 {
    color: #fef4ec;


}
.msg p {
    color: #fef4ec;
    font-size: 1em; /*Adjusting font sizes*/
    padding-bottom: 15px;
}

main section img {
    box-sizing: border-box; /*Add box-sizing: border-box; to the main section img selector. Now the border and image will be included in the size of those images*/    
}




/*---------------------------------------------------Start of CSS Style for Slide Show-------------------------------------------------------------------------------------*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 30px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #264653;
  background-color: #fef4ec;
  box-shadow: 5px 5px 10px #264653;
  border: #264653;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #fef4ec;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px; /*I added this*/
}
h3 {
    color: #264653;
    text-align: center;
}

.active, .dot:hover {
  background-color: #264653;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*------------------------------------------------------------End CSS Style for Slide Show------------------------------------------------------------------------*/


/*CSS for sign in component*/
* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #2a9d8f;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #fef4ec;
  outline: none;
  color: #264653;
}

hr {
  border: 1px solid #264653;
  margin-bottom: 25px; 
}

/* Set a style for all buttons */
button {
  background-color: #2a9d8f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #efd595;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  font-size: 1em;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}
.container p, h1 {  /*I added this*/
    color: #264653;
}
.container label {    /*I added this*/
    color: #264653;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}



/*How to Start Subpage CSS*/

/*Parent container*/

.title_revealing h1 {
  background: #2a9d8f;
  color: #fef4ec;
  padding: 15px 30px; /*Adding padding to space out, the content on your page, from any edges or borders where it is needed.*/
  margin-left: 150px; /*Adding margins to space out, the content on your page, beyond the borders of the elements where it is needed.*/
  margin-right: 150px;
  margin-bottom: 100px;
  border-radius: 5px; /*Add a border-radius of 5px to the .book, .join selector*/
}
.title_revealing h2 {
  color: #264653;
  
}
.list-container ul {
  background: #efd595;
  padding: 15px 30px; /*Adding padding to space out, the content on your page, from any edges or borders where it is needed.*/
  margin-left: 150px; /*Adding margins to space out, the content on your page, beyond the borders of the elements where it is needed.*/
  margin-right: 150px;
  margin-bottom: 100px;
  border-radius: 5px; /*Add a border-radius of 5px to the .book, .join selector*/
  color: #264653;
  line-height: 1.2em; /* a little more line height*/
}



/*Parent container*/
.how_to_start-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /*Ten equal, fractions, columns*/
}
#how_to_start_background {          /*Targeting the new div with the id of background and give it a declaration of height: 725px*/
  height: 725px;
  background-color: #264653;
  grid-column: 1/11;
  grid-row: 4/9;
}
.client_interaction-img {
    width: 100%; /*When images are large, they make the columns very large as well. Let's make sure that the each images with the classes card-img and mountains have a width of 100%. As they get placed in the grid, they will take up 100% of the space they are given. */ 
    grid-column: 5/10;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #264653; /*Enhancements*/
    height: auto; /*Responsivenes in the img. Width 100% and height to auto.*/

}
.blue_background-msg {
  background-color: #efd595;
  line-height: 1.5em; /* a little more line height*/
  padding: 35px; /*Adding padding to space out the content on your page from any edges or borders where it is needed*/
  grid-column: 2/6;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #2a9d8f; /*Enhancements*/
}

.how_to_start-title {
  color: #264653;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  margin-top: 10px;
}

.blue_background-msg p {
  color: #264653;
  font-size: 1em; /*Adjusting font sizes*/
  padding-bottom: 15px;
}

main section img {
  box-sizing: border-box; /*Add box-sizing: border-box; to the main section img selector. Now the border and image will be included in the size of those images*/    
}
.start_a_conversation {
  background-color: #2a9d8f;
  text-decoration: none;
  color: #fef4ec;
  padding: 15px 30px; /*Adding padding to space out, the content on your page, from any edges or borders where it is needed.*/
  margin-top: 50px; /*Adding margins to space out, the content on your page, beyond the borders of the elements where it is needed.*/
  border-radius: 5px; /*Add a border-radius of 5px to the .book, .join selector*/
}
.start_conversation-button-box {
  text-align: center;
}

.start_a_conversation:hover {   /*Hover Pseudo-Classes*/
  background-color: #264653;
  color: #fef4ec;
}
div h1 {
  text-align: center;
}





/*Feedback CSS*/
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
    
/*Responsive Design. One of the key parts to a responsive design is a @media query. These let us change our CSS based on the width of the browser window and other things as well. Media queries always need to be after all the other CSS. Don't add any CSS after the media query later either. This could be read as follows: "If the max width of the screen gets smaller than 900px, then use this CSS instead of what you may have seen above" for these selectors.
This CSS will not go into effect unless the screen is less than 900px;
Some grids were turned off with display: block, and the flex-boxes were changed from rows to columns. The rest is all minor adjustments to make it look good on the smaller screen.
You may notice display: none was used on a few selectors to make them disappear. Those elements weren't necessary, and not having them on a smaller screen makes it look less cluttered.*/
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #134266;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

